PORT=3000

DB_HOST=localhost
DB_PORT=5432
DB_USER=reference
DB_PASS=123456
DB_NAME=postgres

ENABLE_FILE_LOGGING=true
TIME_ZONE_LOGGER="DD-MM-YYYY HH:mm:ss"

TIME_ZONE="yyyy-MM-dd HH:mm"

JWT_SECRET=suachavejwtsecreta

# dev = true (log no terminal para debug) ou prod = false
ENABLE_LOGGING_TYPEORM=dev

# 3 minutos (180 segundos) ou 1d (1 dia)
TOKEN_EXPIRATION_TIME=1d